#clock-face {
  height: 400px;
  width: 400px;
  border: 1px solid #000;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  position: relative;
}
#clock-face.complete {
  /*This clock runs for 12 hours*/

}
#clock-face.complete #second-hand {
  -webkit-transform: rotate(259200deg);
  /*720 * 360*/

  -webkit-transform-origin: bottom center;
}
#clock-face.complete #minute-hand {
  -webkit-transform: rotate(4320deg);
  /*12 * 360*/

  -webkit-transform-origin: bottom center;
}
#clock-face.complete #hour-hand {
  -webkit-transform: rotate(360deg);
  /*1 * 360*/

  -webkit-transform-origin: bottom center;
}
#second-hand {
  position: absolute;
  background-color: red;
  width: 4px;
  height: 200px;
  top: 0px;
  left: 200px;
  -webkit-transition: -webkit-transform 43200s linear;
  /*background-color:#000;*/

}
#minute-hand {
  position: absolute;
  background-color: #000;
  width: 6px;
  height: 180px;
  top: 20px;
  left: 200px;
  -webkit-transition: -webkit-transform 43200s linear;
}
#hour-hand {
  position: absolute;
  background-color: #000;
  width: 8px;
  height: 110px;
  top: 90px;
  left: 200px;
  -webkit-transition: -webkit-transform 43200s linear;
}
#start-clock {
  position: relative;
  font-family: helvetica, sans-serif;
  text-align: center;
  padding: 5px;
  top: 40px;
  width: 100px;
  height: 40px;
  border: 2px solid #000;
  background-color: #7D7D7D;
  color: #fff;
  cursor: pointer;
  -webkit-transition: -webkit-transform 43200s linear;
}
